body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
#main-menu {
    width:100%;
    height:100%;
    background-color:white;
    box-shadow: 0 0.4vw 0.4vw 0 rgba(0, 0, 0, 0.25);
    position:fixed;
    z-index:10;
    overflow-y: hidden;
    transition:1s ease-in-out;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    padding-top:5vw;
}

#main-menu h1 {
    font-size:5vw;
    color:rgb(87, 87, 87);
}
#main-menu h2 {
    font-size:3.5vw;
    color:rgb(59, 59, 59);
    animation: pulsate 2.5s infinite;
    position:relative;
    padding:2vw;
}


@keyframes pulsate {
    0% {font-size:3.5vw;}
    50% {font-size:3.7vw;}
    100% {font-size:3.5vw;}
  }


#main-menu button {
    border-radius:0.26vw;
    font-size:1.5vw;
    padding:0.52vw;
    color:1vw;
    width:8vw;
    background-color:white;
    transition:0.1s ease-in-out;
    font-weight:bold;
}
.red {
    color:tomato;
    border:0.15vw solid tomato;
    margin-right:0.52vw;
}
.blue {
    color:dodgerblue;
    border:0.15vw solid dodgerblue;
}
.red:hover {
    color:white;
    background:tomato !important;
}
.blue:hover {
    color:white;
    background:dodgerblue !important;
}

#main-program {
width:100%;
height:100%;
background-color: white;
}
.main-table {
    width:100%;
    padding:1vw 2.6vw 0 2.6vw;
}

.main-table td {
    width:33%;
}

.main-table .card {
    box-shadow: 0 0.8vw 0.8vw 0 rgba(0, 0, 0, 0.25);
    border-radius:0.52vw;
    display:inline-block;
}

#main-program h1 {
    font-size:3.64vw;
    font-family: 'Roboto', sans-serif;
}
.red-title {
    color:tomato;
}
.blue-title {
    color:dodgerblue;
}
#main-program div {
    position:relative;
}
.img-container {
    position:relative;
    top:-1vw;
}

#main-program img {
    width:11vw;
    height:11vw;
}
#main-program p {
    font-size:4vw;
    font-family: 'Fjalla One', sans-serif;
    font-weight:bold;
    top:-0.5vw;
    color:white;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    padding:0;
}
.red-strip {
    width:100%;
    height:2.3vw;
    position:realtive;
    background:tomato;
    border-radius: 0.26vw 0.26vw 0 0;
}
.blue-strip {
    width:100%;
    height:2.3vw;
    position:realtive;
    background-color:dodgerblue;
    border-radius: 0.26vw 0.26vw 0 0;
}
.gray-strip {
    width:100%;
    height:2.3vw;
    position:realtive;
    background-color:gray;
    border-radius: 0.26vw 0.26vw 0 0;
}
.strip-text{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    color:white;
    font-size:1vw;
    padding:0.52vw;
    margin:0;
}

.score span{
    font-size:6.5vw !important;
    font-family: 'Fjalla One', sans-serif;
    font-weight:bold;
    line-height: 1em;
    margin:0;
}
.score h2{
    font-size:4.1vw !important;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin:0;
    color:gray;
}
.score #blue-score {
    color:dodgerblue;
}
.score #red-score {
    color:tomato;
}

.score button {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-top:1vw;
    border-radius:0.26vw;
    padding:0.52vw;
    color:1vw;
    width:10.4vw;
    background-color:white;
    transition:0.1s ease-in-out;
    color:gray;
    border:0.15vw solid gray;
}

.score button:hover {
    background-color:gray;
    color:white;
}

.place-remove .card {
    margin:0.52vw;
    border-radius:0.3vw;
    overflow:hidden;
}
.place-remove .gray-strip {
    margin-bottom:1.6vw;
}

.time h3 {
    font-size:8vw !important;
    font-family: 'Fjalla One', sans-serif;
    font-weight:bold;
    margin:0;
    color:gray;
    letter-spacing: 0.1em;
}

.time button {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-top:1vw;
    border-radius:0.26vw;
    padding:0.52vw;
    color:1vw;
    width:10.4vw;
    background-color:white;
    transition:0.1s ease-in-out;
    color:gray;
    border:0.15vw solid gray;
}

.time button:hover {
    background-color:gray;
    color:white;
}

.remove {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    margin-top:1vw;
    border-radius:0.26vw;
    padding:0.52vw;
    width:10vw;
    background-color:white;
    transition:0.1s ease-in-out;
    color:gray;
    border:0.15vw solid gray;
    margin-top:-0.8vw;
    margin-bottom:0.26vw;
}

.remove:hover {
    background-color:gray;
    color:white;
}

#auto-winner-red {
    width:7vw;
    border:0.15vw solid tomato;
    color:tomato;
    overflow: hidden;
    position:relative;
}

#auto-winner-blue {
    width:7vw;
    border:0.15vw solid dodgerblue;
    color:dodgerblue;
    overflow: hidden;
    position:relative;
}

#auto-winner-tie {
    width:7vw;
    border:0.15vw solid gray;
    color:gray;
    overflow: hidden;
    position:relative;
}

#auto-winner-blue:hover {
    background:dodgerblue;
    color:white;
}
#auto-winner-red:hover {
    background:tomato;
    color:white;
}
#auto-winner-tie:hover {
    background:gray;
    color:white;
}

.table2 {
    margin-top:-1vw;
}

#mobile-main-program {
    display:none;
}
