body{
    padding:0;
    margin:0;
}
.changeValueButton {
    border:2px solid black;
    width:40px;
    height:40px;
    font-size:20px;
    font-weight:bold;
    margin:5px;

}
.greenButton {
background-color:mediumseagreen;
}
.redButton {
background-color:tomato;
}
#place, #remove {
position:fixed;
font-size:60px;
right:100px;
}

#score {
position:fixed;
font-size:100px;
right:200px;
top:250px;
}
#place {
top:100px;
}
#remove {
top:175px;
}
@media only screen and (max-width:1000px) {
    table{
        width:100%;
        margin:0;
        padding:0;
    }
    tr{
        width:100%;
        padding:0;
        margin:0;
    }
    td {
        width:50%;
        padding:0;
        margin:0;
    }
    h2{
    font-size:20px;
    }

    input {
        width:60px;
        height:30px;
        font-size:25px;
    }
    #orange {
        color:orangered;
    }
    #green {
        color:mediumseagreen;
    }
    #purple {
        color:purple;
    }
    .orange {
        color:orangered;
    }
    .green {
        color:mediumseagreen;
    }
    .purple {
        color:purple;
    }
    .changeValueButton {
        border:1px solid black;
        width:30px;
        height:30px;
        font-size:15px;
        font-weight:bold;
        margin:5px;
    
    }
    #place {
        font-size:30px;
        top:460px;
        right:0;
        width:100%;
        text-align: center;
        /* margin-left:50%;
        transform: translateX(-50%); */
    }
    #remove {
        font-size:30px;
        right:0;
        top:490px;
        width:100%;
        text-align: center;
        /* margin-left:50%;
        transform: translateX(-50%); */
    }
    #score {
        font-size:40px;
        right:0;
        top:520px;
        width:100%;
        text-align: center;
    }
    }
